<html>
    <link href="stupid.css" rel="stylesheet" type="text/css"/>
    <head>
        
    </head>
    <body>
        <header class="container">
            <nav class="sixteen columns alpha omega">
                <a href="{{=URL(c="default",f="home")}}">Home</a>
                <a href="{{=URL(c="default",f="about")}}">About</a>
                <a href="{{=URL(c="default",f="contact")}}">Contact</a>
            </nav>
        </header>
        <h1>
            {{=message}}
        </h1>
        <h2>
            Number of visits: {{=counter}}
        </h2>
    </body>
    
    
</html>
